.advantages
	padding: 60px 0 30px 0
	.container
		+flex(row, around, start, wrap)
	.item
		+flex(column, null, center, nowrap)
		max-width: 260px
		text-align: center
		.img-wrap
			width: 98px
			height: 98px
			border-radius: 100%
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
			+flex(row, center, center, nowrap)
		&__img
		&__title
			margin: 20px 0
			font-weight: 700
			font-size: 18px
		&__text
			font-size: 18px


