.category-guarantees
	padding: 40px 0
	.container
		max-width: 1570px
		+mq($max-width: 1600px)
			max-width: 1170px
	.block-title
		text-align: center
	.inner
		+flex(row, between, start, wrap)
		margin: 35px 0 0 0
	&-left
		width: 48%
		+mq($max-width: 1000px)
			width: 100%
	&-right
		width: 49%
		background: white
		padding: 20px
		border: 1px solid #C6C6C6
		border-radius: 10px
		+mq($max-width: 1000px)
			width: 100%
		+mq($max-width: 700px)
			padding: 10px
	&__img
		display: block
		width: 100%
	.text-container
		p
			font-size: 20px
			+mq($max-width: 1600px)
				font-size: 16px
			+mq($max-width: 575px)
				font-size: 14px

