.dental-symptoms
	padding: 40px 0
	.container
		max-width: 1470px
		+flex(row, between, start, wrap)
		+mq($max-width: 1600px)
			max-width: 1170px
	.block-title
		margin: 0 0 40px 0
	&-left
		width: 38%
		+mq($max-width: 1600px)
			width: 49%
		+mq($max-width: 1600px)
			width: 100%
	&-right
		width: 48%
		background: white
		border-radius: 10px
		+mq($max-width: 1600px)
			width: 49%
		+mq($max-width: 1200px)
			width: 100%
		&-top
			position: relative
			min-height: 400px
			padding: 105px 40px 0
			+mq($max-width: 1600px)
				padding: 60px 20px
				min-height: 300px
		&-bottom
			padding: 25px 40px
			box-shadow: 0px -5px 15px -2px rgba(0, 0, 0, 0.14)
			color: $dark2
			+flex(row, between, center, nowrap)
			+mq($max-width: 1600px)
				padding: 20px
			+mq($max-width: 575px)
				padding: 10px
			&__text
				font-family: 'PF', serif
				color: $brown
				font-style: italic
				font-size: 45px
				line-height: 1
				font-weight: 500
				text-align: center
				+mq($max-width: 1600px)
					font-size: 35px
				+mq($max-width: 575px)
					width: 30%
				+mq($max-width: 575px)
					font-size: 28px
				span
					font-family: 'Uni', sans-serif
					color: $dark2
					font-style: normal
					display: block
					font-size: 20px
					+mq($max-width: 1600px)
						font-size: 16px
					+mq($max-width: 575px)
						font-size: 12px
		&__text
			line-height: 1.6
			font-size: 18px
			font-family: 'UniBook', sans-serif
			max-width: 400px
			width: 100%
			margin: 0 0 40px 0
			+mq($max-width: 1600px)
				max-width: 340px
				font-size: 16px
	&__doc
		position: absolute
		bottom: 0
		right: 5%
		display: block
		width: 250px
		+mq($max-width: 1600px)
			right: 2%
			width: 200px
		+mq($max-width: 575px)
			display: none
	&__sign
		display: block
		width: 260px
	&-list
		padding: 0 0 0 30px
		+mq($max-width: 575px)
			padding: 0 0 0 20px
		li
			position: relative
			margin: 0 0 35px 0
			font-size: 18px
			font-family: 'UniBook', sans-serif
			line-height: 1.6
			+mq($max-width: 1600px)
				margin: 0 0 15px 0
			+mq($max-width: 575px)
				font-size: 14px
			b
				font-size: 24px
				+mq($max-width: 1600px)
					font-size: 20px
				+mq($max-width: 575px)
					font-size: 16px
			&:before
				content: ''
				display: block
				width: 14px
				height: 14px
				border-radius: 100%
				background: $brown
				position: absolute
				left: -30px
				top: 12px
				+mq($max-width: 575px)
					width: 10px
					height: 10px
					top: 6px
					left: -20px
	&__name
		font-size: 24px
		line-height: 1.4
		text-align: right
		+mq($max-width: 1600px)
			font-size: 20px
		+mq($max-width: 575px)
			width: 70%
			font-size: 16px
		span
			font-size: 19px
			font-family: 'UniBook', sans-serif
			display: block
			+mq($max-width: 1600px)
				font-size: 16px
			+mq($max-width: 575px)
				font-size: 14px


