.doctors
	padding: 40px 0 120px 0
	+mq($max-width: 1650px)
		padding: 40px 0 80px
	+mq($max-width: 1200px)
		padding: 30px 0
	.block-title
		+mq($max-width: 1200px)
			text-align: center
	.block-text
		margin: 15px 0 0 0
		+mq($max-width: 1200px)
			text-align: center
	.container
		+mq($max-width: 1650px)
			max-width: 1000px
	.slider
		margin: 50px 0 0 -12px
		width: calc( 100% + 21px )
		+mq($max-width: 1600px)
			margin: 20px 0 0 -12px
	.slide
		margin: 12px
		&-inner
			background: white
			border-radius: 11px
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1)
			position: relative
			padding: 54px 40px 20px
			+flex(column, null, center, nowrap)
			margin: 0 0 34px 0
		&__link
			display: block
			width: 95%
			margin: 0 auto
		.exp
			position: absolute
			left: 20px
			top: 20px
			font-family: 'PF', sans-serif
			&__title
				width: 60px
				height: 60px
				border-right: 100%
				background: white
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06)
				position: relative
				+flex(row, start, center, wrap)
				border-radius: 100%
				padding: 0 0 0 9px
				line-height: 1
				b
					font-size: 27px
				span
					font-size: 13px
					color: #ACACAC
					position: absolute
					top: 50%
					right: 2px
					width: 11px
					transform: rotate(-90deg) translate(0, -50%)
			&__text
				margin: 5px 0 0 0
				text-align: center
				font-size: 13px
		&__name
			font-family: 'PF', sans-serif
			text-align: center
			font-size: 17px
			margin: 7px 0 11px 0
		&__text
			font-family: 'UniBook', sans-serif
			text-align: center
			color: #6B6B6B
			font-size: 13px
			margin: 0 0 25px 0
		&__reviews
			margin: 0 0 0 auto
			text-align: right
			color: $blue
			font-weight: 700
			font-size: 12px
			position: relative
			&:before
				content: ''
				vertical-align: middle
				display: inline-block
				width: 14px
				height: 14px
				margin: 0 5px 0 0 
				+bg(null, null, 'icons/talk-icon.svg', no-repeat, center, center, contain)

	.arrow
		position: absolute
		top: 50%
		z-index: 3
		&-prev
			left: -80px
			transform: translate(0, -50%) rotate(180deg)
			+mq($max-width: 1650px)
				left: -60px
		&-next
			right: -80px
			transform: translate(0, -50%)
			+mq($max-width: 1650px)
				right: -60px
