.footer
	+flex(row, null, null, wrap)
	&-left
		background: white
		width: 54.79%
		padding: 66px 62px 109px 152px
		+flex(column, null, null, nowrap)
		min-height: 513px
		+mq($max-width: 1850px)
			padding: 60px 30px
		+mq($max-width: 1200px)
			width: 100%
			padding: 30px 15px
			min-height: 10px
	&-right
		color: white
		background: $footer-dark
		width: 45.21%
		padding: 54px 154px 109px 86px
		+flex(column, null, null, nowrap)
		min-height: 513px
		+mq($max-width: 1850px)
			padding: 60px 30px
		+mq($max-width: 1200px)
			width: 100%
			padding: 30px 15px
			min-height: 10px
		.row
			&:first-child
				margin: 0
				+flex(row, start, center, wrap)
	.row
		margin: auto 0 0 0
		+flex(row, between, end, wrap)
		+mq($max-width: 1200px)
			margin: 30px 0 0 0
	.menu
		+flex(row, null, start, wrap)
		&-block
			max-width: 500px
			width: 100%
			+mq($max-width: 575px)
				max-width: 100%
				margin: 0 0 15px 0
			&__title
				font-size: 16px
				font-weight: 700
				margin: 0 0 26px 0
				+mq($max-width: 700px)
					margin: 0 0 10px 0
			&-list
				+flex(row, between, null, wrap)
				li
					width: 50%
					margin: 0 0 13px 0
					padding: 0 5px 0 0
					+mq($max-width: 400px)
						width: 100%
						margin: 0 0 5px 0
				a
					color: black
					font-family: 'UniBook', sans-serif
					font-size: 14px
					&:hover
						color: $yellow
	.social
		margin: 0 0 35px 0
		&__title
			font-size: 16px
		&-list
			margin: 22px 0 0 0
		&__item
			&:not(:last-child)
				margin: 0 25px 0 0
			&:hover
				svg
					path,
					rect
						fill: $yellow
			svg
				path,
				rect
					fill: white
					+trs
	.links
		li
			&:not(:last-child)
				margin: 0 0 8px 0
		a
			color: white
			font-size: 14px
			text-decoration: underline
			&:hover
				text-decoration: none
				color: $yellow
	.phone
		&-list
			a
				color: white
				font-size: 24px
				font-family: 'UniBook', sans-serif
				&:hover
					color: $yellow
		&__text
			text-align: center
			font-size: 16px
			font-family: 'UniBook', sans-serif
			margin: 5px 0 0 0
	.action
		margin: 0 0 0 47px
		+mq($max-width: 575px)
			margin: 15px 0 0 0
	&__text
		font-size: 14px
		+mq($max-width: 575px)
			margin: 15px 0 0 0
			width: 100%