// main page elements
html
	overflow-x: hidden
body
	font-size: 18px
	color: black
	font-family: 'Uni', sans-serif
	font-weight: 400
	background: $body-bg
	overflow-x: hidden
	+mq($max-width: 1600px)
		font-size: 16px
	+mq($max-width: 1200px)
		font-size: 14px
	// +scrollbar(10px, auto, $yellow, $gray2, $dark, null)

.page-container
	max-width: 1920px
	width: 100%
	margin: 0 auto

.container
	max-width: 1170px
	width: 100%
	padding: 0
	margin: 0 auto
	+mq($max-width: 1200px)
		padding: 0 15px
	+mq($max-width: 575px)
		padding: 0 10px

.no-page
	margin: 150px 0
	.action
		max-width: 350px

.btn-callback
	font-weight: 700
	border-radius: 43px
	padding: 12px 32px
	color: white
	+flex(row, null, center, nowrap)
	background: $btn-callback-gradient
	cursor: pointer
	+trs
	&:hover
		background: black
	svg
		margin: 0 12px 0 0
		path
			fill: white

.btn-entry
	font-weight: 700
	border-radius: 43px
	padding: 12px 32px
	color: white
	+flex(row, null, center, nowrap)
	background: $btn-entry-gradient
	cursor: pointer
	+trs
	&:hover
		background: black
	svg
		margin: 0 12px 0 0
		path
			fill: white

.submit
	text-align: center
	color: white
	background: $brown
	padding: 22.5px 55px
	font-weight: 700
	border-radius: 5px
	font-size: 21px
	cursor: pointer
	+trs
	+mq($max-width: 1200px)
		padding: 11px 27px
	&:hover
		background: black

.block-title
	font-weight: 100
	font-size: 35px
	color: black
	line-height: 1
	span
		font-size: 38px
		font-style: italic
		font-family: 'PF', sans-serif

.block-text
	font-family: 'UniBook', sans-serif
	line-height: 1.7

.logo
	+flex(row, null, center, wrap)
	+mq($max-width: 700px)
		flex-direction: column
		align-items: flex-start
	&:hover
		.logo__img
			opacity: .5
	&__img
		display: block
		max-width: 141px
		width: 100%
		+trs
		+mq($max-width: 1300px)
			max-width: 121px
	&__text
		color: black
		font-size: 14px
		padding: 0 0 0 16px
		margin: 0 0 0 16px
		border-left: 1px solid #000
		+mq($max-width: 1300px)
			margin: 0 0 0 5px
			padding: 0 0 0 5px
			font-size: 12px
		+mq($max-width: 700px)
			margin: 0
			padding: 5px 0 0 0
			border: none

.entry-form
	+mq($max-width: 575px)
		width: 100%
	&.horizontal
		+flex(row, null, null, wrap)
		max-width: 533px
		width: 100%
		+mq($max-width: 1500px)
			max-width: 507px
		+mq($max-width: 1200px)
			max-width: 450px
		.entry-form__btn
			position: relative
			z-index: 2
			margin-left: -10px
			+mq($max-width: 575px)
				margin: 0
				width: 100%
		+mq($max-width: 575px)
			flex-direction: column
	&.vertical
		width: 282px
		+flex(column, null, null, nowrap)
		.entry-form-label
			margin: 0 0 12px 0
			width: 100%
		.entry-form__input
			width: 100%
		.entry-form__btn
			width: 100%
			margin: 0
	&-label
		position: relative
		width: 100%
		+mq($max-width: 575px)
			width: 100%
			margin: 0 0 10px 0
		&.big
			width: 100%
			margin: 0 0 10px 0
			.entry-form__input
				text-align: center
				width: 100%
		svg
			display: block
			width: 23px
			position: absolute
			top: 50%
			left: 25px
			z-index: 2
			transform: translate(0, -50%)
			+mq($max-width: 1200px)
				left: 15px
			path
				fill: $brown
	&-row
		+flex(row, null, null, nowrap)
		+mq($max-width: 575px)
			flex-wrap: wrap
	&__input
		background: white
		padding: 19.5px 72px
		border-radius: 6px
		border: 3px solid $brown
		width: 311px
		font-family: 'UniBook', sans-serif
		color: $brown
		font-size: 18px
		+trs
		&:hover,
		&:focus
			border-color: $dark
		+mq($max-width: 1450px)
			width: 285px
		+mq($max-width: 1200px)
			padding: 10px 50px
		+mq($max-width: 575px)
			font-size: 15px
			width: 100%
			text-align: center
		&::placeholder
			font-family: 'UniBook', sans-serif
			font-size: 18px
			color: $brown
			+mq($max-width: 575px)
				font-size: 15px

.arrow
	background: $gray
	border-radius: 100%
	width: 60px
	height: 60px
	+flex(row, center, center, nowrap)
	position: absolute
	top: 50%
	cursor: pointer
	+trs
	&:hover
		background: $btn-callback-gradient
		svg
			width: 24px
	svg
		+trs
		display: block
		width: 16px
		path
			fill: white
