.implantations-types
	padding: 50px 0
	+mq($max-width: 575px)
		padding: 30px 0
	.container
		max-width: 1450px
		+mq($max-width: 1600px)
			max-width: 1170px
	.block-title
		text-align: center
	.inner
		margin: 40px 0 0 0
		background: white
	.card
		padding: 50px
		+flex(row, null, null, wrap)
		+mq($max-width: 1600px)
			padding: 25px
		+mq($max-width: 575px)
			padding: 10px
		&-left
			width: 60%
			padding: 0 10px 0 0
			+mq($max-width: 700px)
				width: 100%
		&-right
			width: 40%
			+mq($max-width: 700px)
				width: 100%
		&__img
			display: block
			width: 100%
		.action
			margin: 40px 0 0 0
			width: 100%
			text-align: center
			+mq($max-width: 575px)
				margin: 20px 0 0
		&__title
			font-weight: 700
			font-size: 37px
			padding: 0 0 0 50px
			margin: 0 0 25px 0
			+mq($max-width: 1600px)
				font-size: 28px
				margin: 0 0 15px 0
				padding: 0 0 0 40px
			+mq($max-width: 575px)
				font-size: 22px
				padding: 0
		&-list
			padding: 0 0 0 50px
			font-size: 18px
			max-width: 538px
			width: 100%
			+mq($max-width: 1600px)
				font-size: 14px
				padding: 0 0 0 40px
			+mq($max-width: 575px)
				padding: 0
			li
				position: relative
				margin: 0 0 18px 0
				&:before
					content: ''
					display: block
					width: 12px
					height: 12px
					border-radius: 100%
					background: $brown
					position: absolute
					left: -30px
					top: 10px
					+mq($max-width: 1600px)
						width: 6px
						height: 6px
					+mq($max-width: 575px)
						display: none
			b
				line-height: 1.4
				font-size: 24px
				color: $yellow
				+mq($max-width: 1600px)
					font-size: 20px
				+mq($max-width: 575px)
					font-size: 16px
		&-item
			max-width: 610px
			width: 100%
			+flex(row, start, center, wrap)
			margin: 0 0 18px 0
			&-icon
				width: 80px
				height: 80px
				background: linear-gradient(180deg, #E3AD25 0%, #F7C850 46.35%, #E0AE2E 100%)
				+flex(row, center, center, wrap)
				border-radius: 100%
				margin: 0 32px 0 0
				+mq($max-width: 1600px)
					width: 50px
					height: 50px
					margin: 0 15px 0 0
			&__icon
				display: block
				height: 70%
			&__text
				width: calc(100% - 150px)
				+mq($max-width: 1600px)
					width: calc(100% - 120px)
				+mq($max-width: 575px)
					font-size: 12px
					width: calc(100% - 75px)
		&-cost
			padding: 18px 0
			border-bottom: 1px solid #D4D4D4
			+flex(row, between, null, wrap)
			line-height: 28px
			&__text
				font-size: 18px
				+mq($max-width: 1600px)
					font-size: 15px
				+mq($max-width: 575px)
					font-size: 12px
			&__price
				font-size: 28px
				+mq($max-width: 1600px)
					font-size: 22px
				+mq($max-width: 575px)
					font-size: 18px
	

