.mainblock
	overflow: hidde
	+mq($max-width: 1000px)
		background: $body-bg
	.slide
		+flex(row, null, end, nowrap)
		&__img
			display: block
			max-width: 
			width: 60%
			+mq($max-width: 1650px)
				width: 50%
			+mq($max-width: 1000px)
				display: none
		&-inner
			display: block
			width: 40%
			margin: 0 0 0 auto
			+flex(column, end, start, nowrap)
			padding: 107px 41px
			position: relative
			z-index: 2
			+mq($max-width: 1850px)
				padding: 50px 30px
			+mq($max-width: 1650px)
				padding: 10px 30px 30px
				width: 50%
			+mq($max-width: 1200px)
				padding: 10px 15px 30px
			+mq($max-width: 1000px)
				width: 100%
			&:before
				content: ''
				display: block
				position: absolute
				left: 0
				bottom: 0
				width: 100%
				height: 411px
				background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 81.98%)
				z-index: -1
				+mq($max-width: 1200px)
					display: none
		&-list
			margin: 0 0 40px 20px
			+mq($max-width: 1650px)
				margin: 0 0 15px 10px
			li
				position: relative
				margin: 0 0 25px 0
				padding: 0 0 0 50px
				+mq($max-width: 1650px)
					margin: 0 0 15px 0
					padding: 0 0 0 30px
				&::before
					content: ''
					display: block
					width: 30px
					height: 30px
					border: 3px solid $brown
					border-radius: 100%
					position: absolute
					left: 0
					top: -5px
					+mq($max-width: 1650px)
						width: 20px
						height: 20px
						top: -2px
	.play-img
		position: absolute
		top: 0
		left: 0
		z-index: 0
		z-index: -1
		transform: translate(-50%, -10%)
		+mq($max-width: 1650px)
			width: 256px
			height: 256px
			transform: translate(-50%, 0%)
		+mq($max-width: 1200px)
			display: none
	.block-title
		font-size: 58px
		max-width: 522px
		width: 100%
		margin: 30px 0 12px 0
		+mq($max-width: 1650px)
			font-size: 37px
			width: 60%
			margin: 15px 0 15px 0
		+mq($max-width: 1200px)
			width: 100%
		span
			display: block
			width: 100%
			text-align: right
			color: $yellow
			font-size: 48px
			font-weight: 700
			+mq($max-width: 1650px)
				font-size: 32px
			+mq($max-width: 1200px)
				display: inline-block
				width: auto
	.video-link
		margin: 0 0 0 20px
		text-decoration: underline
		color: #A8A8A8
		&:hover
			color: black
			text-decoration: none
	.entry-form
		+mq($max-width: 1200px)
			width: 100%
		+mq($max-width: 1000px)
			max-width: 600px
		&.horizontal
			.entry-form__btn
				+mq($max-width: 1200px)
					width: auto
					padding: 18px 25px
					margin: 0 0 0 -10px
				+mq($max-width: 575px)
					width: 100%
					margin: 0
		&-label
			+mq($max-width: 1200px)
				width: 50%
			+mq($max-width: 575px)
				width: 100%
		&__input
			+mq($max-width: 1200px)
				width: 100%
				padding: 19.5px 30px 19.5px 60px
			+mq($max-width: 575px)
				padding: 19.5px 72px
	.slick-dots
		display: flex
		justify-content: center
		align-items: center
		padding: 15px 0
		position: absolute
		left: 0
		bottom: 0
		z-index: 2
		width: 100%
		+mq($max-width: 1650px)
			padding: 8px 0
		li
			margin: 0 10px
			&.slick-active button
				width: 56px
		button
			box-shadow: 0 0 5px lighten($dark, 45%)
			cursor: pointer
			display: block
			font-size: 0
			border-radius: 12px
			width: 12px
			height: 12px
			transition: all .3s ease-out
			background: white
			&:hover
				background: $dark
