.popup
	background: white
	border-radius: 10px
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25)
	border: 1px solid #CCCCCC
	margin: 50px auto
	max-width: 615px
	padding: 55px
	position: relative
	&-header
		text-align: center
		margin: 0 0 30px 0
	&__title
		font-size: 28px
	&__subtitle
		font-size: 22px
		font-weight: 300
	&-form
		&-icon
			width: 32px
			height: 32px
			+flex(row, center, center, nowrap)
			position: absolute
			top: 50%
			left: 0
			transform: translate(0, -50%)
			border-radius: 100%
			border: 1px solid $gray
			svg
				display: block
				height: 70%
		&-item
			margin: 30px 0
			position: relative
			&_center
				+flex(row, center, null, nowrap)
		&__input
			font: 17px/1 'UniBook', sans-serif
			padding: 0 65px
			display: block
			width: 100%
			height: 55px
			line-height: 55px
			border-bottom: 1px solid $gray
			&::placeholder
				color: #6B6B6B
		&__textarea
			display: block
			width: 100%
			height: 180px
			min-height: 180px
			max-height: 180px
			padding: 15px
			border: 1px solid $gray





