.recommend
	padding: 45px 0 196px
	.container
		max-width: 1430px
		+flex(row, between, start, wrap)
	&-left
		+flex(column, null, center, nowrap)
		max-width: 496px
		width: 100%
		background: white
		padding: 75px 48px
		border-radius: 10px
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15)
	&__img-text
		margin: 37px 0 0 auto
	&__title
		text-align: center
		b
			font-size: 90px
			font-weight: 500
			font-style: italic
			line-height: 1
			font-family: 'PF', sans-serif
		span
			font-family: 'UniBook', sans-serif
			font-size: 46px
		i
			font-size: 40px
			font-style: italic
			font-family: 'PF', sans-serif
	.entry-form
		margin: 55px 0 0 0
	&-right
		max-width: 761px
		width: 100%
		margin: 0 80px
	.slider-for
		padding: 0 25px 50px
		.slide
			&-link
				position: relative
				display: block
				width: 100%
			&__img
				display: block
				width: 100%
	.play
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		z-index: 2
		svg
			display: block
			width: 177px
			height: 177px
			circle
				opacity: 1
				+trs
		&:hover
			svg
				circle
					opacity: 0
	.slider-nav
		position: relative
		.slide
			cursor: pointer
			margin: 0 15px
			+trs
			opacity: 0.7
			&.slick-current
				opacity: 1
			&__img
				display: block
				width: 100%
			&__name
				text-align: center
				font-family: 'PF', sans-serif
				font-size: 18px
				font-weight: 600
				margin: 21px 0 0 0

	.arrow
		&-prev
			left: -70px
			transform: translate(0, -80%) rotate(180deg)
		&-next
			right: -70px
			transform: translate(0, -80%)
