.security
	background: linear-gradient(90.04deg, #E8E8E8 4.42%, #FDFDFD 55.5%, #FEFDFD 100.57%)
	margin: 20px 0 80px
	+mq($max-width: 1200px)
		margin: 0
	.container
		max-width: 1370px
		+flex(row, between, center, wrap)
		padding: 27px 15px
		+mq($max-width: 1200px)
			flex-direction: column
			align-items: center
			text-align: center
	.shield
		+flex(row, center, center, wrap)
		width: 142px
		height: 142px
		background: white
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
		border-radius: 100%
		margin: -60px 0
		+mq($max-width: 1200px)
			margin: 0
	&__title
		font-size: 32px
		font-weight: 300
		margin: 0 10px
		+mq($max-width: 1500px)
			font-size: 26px
		+mq($max-width: 1200px)
			margin: 25px 0
		span
			font-family: 'UniBook', sans-serif


