.stock
	padding: 90px 0
	+mq($max-width: 575px)
		padding: 40px 0
	.container
		max-width: 1370px
	&-item
		margin: 0 0 50px 0
		+mq($max-width: 575px)
			margin: 0 0 25px 0
		&::after
			content: ''
			display: block
			width: 0%
			clear: both
			+mq($max-width: 1000px)
				display: none
		&.active
			.stock-item__arrow
				transform: translate(0, -50%) rotate(180deg)
		&-row
			background: #FDFDFD
			border-radius: 80px
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.19)
			text-align: center
			padding: 24px 80px
			position: relative
			cursor: pointer
			min-height: 80px
			+flex(row, null, center, wrap)
			position: relative
			+mq($max-width: 575px)
				padding: 18px 80px 18px 15px
				text-align: left
				min-height: 40px
			&:hover
				.stock-item__arrow
					background: $brown
		&-inner
			padding: 45px 0
			+mq($max-width: 1000px)
				padding: 15px 0
		.text-container
			padding: 50px 0 0 0
			+mq($max-width: 1000px)
				padding: 15px 0
		&__img
			display: block
			max-width: 570px
			width: 100%
			margin: 0 25px 25px 0
			+mq($max-width: 1000px)
				max-width: 100%
				float: none !important
				margin: 0
		&__title
			font-size: 29px
			line-height: 1
			+mq($max-width: 1650px)
				font-size: 24px
			+mq($max-width: 575px)
				font-size: 17px
		&__arrow
			cursor: pointer
			width: 67px
			height: 67px
			border-radius: 67px
			position: absolute
			right: 5px
			top: 50%
			transform: translate(0, -50%)
			background: #959595
			+trs
			+flex(row, center, center, nowrap)
			+mq($max-width: 575px)
				width: 37px
				height: 37px
			svg
				display: block
				width: 24px
				stroke: white
				+mq($max-width: 575px)
					width: 16px

	.action
		text-align: center
		width: 100%