.text-info
	padding: 100px 0 50px
	.container
		max-width: 1410px
		+flex(row, between, center, wrap)
	.block-title
		margin: 0 0 40px 0
	&-left
		width: 49%
	&-right
		width: 49%
	&__img
		display: block
		width: 100%
		border-radius: 10px
	.action
		margin: 40px 0 0 0



