.theraphy-features
	padding: 50px 0
	.container
		max-width: 1400px
	.inner
		margin: 32px 0 0 0
		+flex(row, between, null, wrap)
	.item
		position: relative
		width: 49%
		background: white
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06)
		border-radius: 10px
		&-icon
			+flex(row, center, center, wrap)
			background: linear-gradient(218.13deg, #CC9A1B 17.16%, #EEB628 85.07%)
			width: 62px
			height: 62px
			border-radius: 100%
		&__icon
			display: block
			max-height: 70%
			max-width: 70%
		&__title
		&__text
