section.contact
	.contact-left
		#map
	.contact-right
		.row
			.block-title Запишитесь <br>
				span прямо сейчас!
			img.contact__label(src=img+"contact/label.png", alt="")
		.block-text Дадим грамотную консультацию и поможем определиться с <br> лечением
		include _entry-form.pug
		

