.popup.mfp-hide#callback
	.popup-header
		.popup__title Запишитесь прямо сейчас!
		.popup__subtitle мы Вам перезвоним
	form.popup-form(action="#")
		.popup-form-item
			.popup-form-icon
				<svg viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.99" fill-rule="evenodd" clip-rule="evenodd" d="M12.1034 2.42067C10.098 2.42067 8.47235 4.04633 8.47235 6.05168C8.47235 8.05703 10.098 9.68269 12.1034 9.68269C14.1087 9.68269 15.7344 8.05703 15.7344 6.05168C15.7344 4.04633 14.1087 2.42067 12.1034 2.42067ZM6.05168 6.05168C6.05168 2.70943 8.76111 0 12.1034 0C15.4456 0 18.155 2.70943 18.155 6.05168C18.155 9.39393 15.4456 12.1034 12.1034 12.1034C8.76111 12.1034 6.05168 9.39393 6.05168 6.05168ZM0 25.4171C0 18.7326 5.41888 13.3137 12.1034 13.3137C18.7879 13.3137 24.2067 18.7326 24.2067 25.4171C24.2067 26.0855 23.6648 26.6274 22.9964 26.6274C22.3279 26.6274 21.7861 26.0855 21.7861 25.4171C21.7861 20.0695 17.451 15.7344 12.1034 15.7344C6.75578 15.7344 2.42067 20.0695 2.42067 25.4171C2.42067 26.0855 1.87879 26.6274 1.21034 26.6274C0.541886 26.6274 0 26.0855 0 25.4171Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
					<defs>
					<linearGradient id="paint0_linear" x1="12.1034" y1="0" x2="12.1034" y2="26.6274" gradientUnits="userSpaceOnUse">
					<stop stop-color="#CE9D20"/>
					<stop offset="0.583333" stop-color="#D6A526"/>
					<stop offset="1" stop-color="#DFAD2D"/>
					</linearGradient>
					</defs>
				</svg>
			input.popup-form__input(type="text" placeholder="Как вас зовут?" name="callback_name")
		.popup-form-item
			.popup-form-icon
				<svg viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1.07244 4.46095C0.963937 3.51925 1.63937 2.6679 2.58106 2.5594L14.5167 1.18415C15.4584 1.07564 16.3097 1.75108 16.4182 2.69277L18.1864 18.0385C18.2949 18.9803 17.6195 19.8316 16.6778 19.9401L4.74217 21.3153C3.80048 21.4239 2.94913 20.7484 2.84062 19.8067L1.07244 4.46095ZM14.7131 2.88923L2.77753 4.26448L3.85808 13.6425L15.7937 12.2672L14.7131 2.88923ZM15.9902 13.9723L4.05455 15.3475L4.54571 19.6103L16.4813 18.235L15.9902 13.9723ZM8.56284 16.9877C8.50859 16.5169 8.84631 16.0912 9.31715 16.037L11.0222 15.8405C11.4931 15.7863 11.9188 16.124 11.973 16.5948C12.0273 17.0657 11.6896 17.4913 11.2187 17.5456L9.51362 17.7421C9.04277 17.7963 8.6171 17.4586 8.56284 16.9877Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
					<defs>
					<linearGradient id="paint0_linear" x1="8.54887" y1="1.87177" x2="10.71" y2="20.6277" gradientUnits="userSpaceOnUse">
					<stop stop-color="#CE9D20"/>
					<stop offset="0.583333" stop-color="#D6A526"/>
					<stop offset="1" stop-color="#DFAD2D"/>
					</linearGradient>
					</defs>
				</svg>
			input.popup-form__input(type="tel" placeholder="Номер телефона" name="callback_tel")
		.popup-form-item.popup-form-item_center
			button.popup-form__btn.submit(type="submit") Отправить

.popup.mfp-hide#thanks
	.popup-header
		.popup__title Отправлено
		.popup__subtitle Скоро мы с вами свяжемся

.popup.mfp-hide#leader
	.popup-header
		.popup__title Написать руководству
	form.popup-form(action="#")
		.popup-form-item
			.popup-form-icon
				<svg viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.99" fill-rule="evenodd" clip-rule="evenodd" d="M12.1034 2.42067C10.098 2.42067 8.47235 4.04633 8.47235 6.05168C8.47235 8.05703 10.098 9.68269 12.1034 9.68269C14.1087 9.68269 15.7344 8.05703 15.7344 6.05168C15.7344 4.04633 14.1087 2.42067 12.1034 2.42067ZM6.05168 6.05168C6.05168 2.70943 8.76111 0 12.1034 0C15.4456 0 18.155 2.70943 18.155 6.05168C18.155 9.39393 15.4456 12.1034 12.1034 12.1034C8.76111 12.1034 6.05168 9.39393 6.05168 6.05168ZM0 25.4171C0 18.7326 5.41888 13.3137 12.1034 13.3137C18.7879 13.3137 24.2067 18.7326 24.2067 25.4171C24.2067 26.0855 23.6648 26.6274 22.9964 26.6274C22.3279 26.6274 21.7861 26.0855 21.7861 25.4171C21.7861 20.0695 17.451 15.7344 12.1034 15.7344C6.75578 15.7344 2.42067 20.0695 2.42067 25.4171C2.42067 26.0855 1.87879 26.6274 1.21034 26.6274C0.541886 26.6274 0 26.0855 0 25.4171Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
					<defs>
					<linearGradient id="paint0_linear" x1="12.1034" y1="0" x2="12.1034" y2="26.6274" gradientUnits="userSpaceOnUse">
					<stop stop-color="#CE9D20"/>
					<stop offset="0.583333" stop-color="#D6A526"/>
					<stop offset="1" stop-color="#DFAD2D"/>
					</linearGradient>
					</defs>
				</svg>
			input.popup-form__input(type="text" placeholder="Как вас зовут?" name="leader_name")
		.popup-form-item
			.popup-form-icon
				<svg viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1.07244 4.46095C0.963937 3.51925 1.63937 2.6679 2.58106 2.5594L14.5167 1.18415C15.4584 1.07564 16.3097 1.75108 16.4182 2.69277L18.1864 18.0385C18.2949 18.9803 17.6195 19.8316 16.6778 19.9401L4.74217 21.3153C3.80048 21.4239 2.94913 20.7484 2.84062 19.8067L1.07244 4.46095ZM14.7131 2.88923L2.77753 4.26448L3.85808 13.6425L15.7937 12.2672L14.7131 2.88923ZM15.9902 13.9723L4.05455 15.3475L4.54571 19.6103L16.4813 18.235L15.9902 13.9723ZM8.56284 16.9877C8.50859 16.5169 8.84631 16.0912 9.31715 16.037L11.0222 15.8405C11.4931 15.7863 11.9188 16.124 11.973 16.5948C12.0273 17.0657 11.6896 17.4913 11.2187 17.5456L9.51362 17.7421C9.04277 17.7963 8.6171 17.4586 8.56284 16.9877Z" fill="url(#paint0_linear)" fill-opacity="0.65"/>
					<defs>
					<linearGradient id="paint0_linear" x1="8.54887" y1="1.87177" x2="10.71" y2="20.6277" gradientUnits="userSpaceOnUse">
					<stop stop-color="#CE9D20"/>
					<stop offset="0.583333" stop-color="#D6A526"/>
					<stop offset="1" stop-color="#DFAD2D"/>
					</linearGradient>
					</defs>
				</svg>
			input.popup-form__input(type="tel" placeholder="Номер телефона" name="leader_tel")
		.popup-form-item
			.popup-form-icon
				<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.9436 0.212891C16.0523 0.215082 16.1554 0.234952 16.2584 0.283929C16.3647 0.334725 16.4581 0.411261 16.5288 0.505474C16.5751 0.574518 16.5643 0.553799 16.5288 0.505474C16.6235 0.631798 16.6751 0.78648 16.6751 0.944348C16.6748 0.905387 16.6732 0.888476 16.6751 0.944348V11.9162C16.6751 12.3202 16.3476 12.6477 15.9436 12.6477H1.31447C0.910493 12.6477 0.583008 12.3202 0.583008 11.9162V0.944348C0.583008 0.813397 0.618532 0.68337 0.685356 0.571063C0.821531 0.341612 1.0574 0.218073 1.31447 0.212891H15.9436ZM15.2122 2.40726L9.06792 7.01545C8.83385 7.191 8.52079 7.20855 8.27092 7.06811L8.19017 7.01545L2.04592 2.40726V11.1848H15.2122V2.40726ZM3.50884 1.67581L8.62904 5.51596L13.7492 1.67581H3.50884Z" fill="#E2C370"/>
				</svg>
			input.popup-form__input(type="email" placeholder="Эл.почта" name="leader_mail")
		.popup-form-item
			textarea.popup-form__textarea(placeholder="Текст сообщения..." name="") 
		.popup-form-item.popup-form-item_center
			button.popup-form__btn.submit(type="submit") Отправить