section.portfolio
	.container
		.block-title.type2 <span>Мы подарили новые зубы</span> сотням пациентов
		.slider
			.slide
				.slide-top
					.slide-top-left
						.slide__name Надежда
						.slide__text Протезирование для верхней челюсти
						.slide__text <b>Проблема:</b> <br> Пациентка обратилась в клинику с жалобами на отсутствие жевательных зубов, неудовлетворительное состояние старых ортопедических конструкций и неудовлетворительную эстетику зоны улыбки.
						.slide__text <b>Решение:</b> <br> Последовательно были проведены остеопластика в области 47-го зуба, затем полное протезирование безметалловыми коронками из диоксида циркония.
					.slide-top-right
						img.slide__img(src=img+"works/before.jpg", alt="")
						img.slide__img(src=img+"works/after.jpg", alt="")
				.slide-bottom
						.slide__doc Врач: <span>Овсепян Карен Тигранович</span>
			.slide
				.slide-top
					.slide-top-left
						.slide__name Надежда
						.slide__text Протезирование для верхней челюсти
						.slide__text <b>Проблема:</b> <br> Пациентка обратилась в клинику с жалобами на отсутствие жевательных зубов, неудовлетворительное состояние старых ортопедических конструкций и неудовлетворительную эстетику зоны улыбки.
						.slide__text <b>Решение:</b> <br> Последовательно были проведены остеопластика в области 47-го зуба, затем полное протезирование безметалловыми коронками из диоксида циркония.
					.slide-top-right
						img.slide__img(src=img+"works/before.jpg", alt="")
						img.slide__img(src=img+"works/after.jpg", alt="")
				.slide-bottom
						.slide__doc Врач: <span>Овсепян Карен Тигранович</span>
