section.rating
	.container
		img.hand(src=img+"rating/hand.png", alt="")
		.inner
			.block-title Независимые 
				span рейтинги
			.block-text Репутация клиники и стоматологов - важный критерий при выборе места лечения. Нам нечего <br> скрывать! Узнайте, что думают пациенты о Expert Dentist на популярных интернет-порталах
			.cards
				.card
					.card__title Стамотолгия. су
					.card__num 4,8 <span>/5</span>
				.card
					.card__title Яндекс
					.card__num 4 <span>/5</span>
				.card
					.card__title ZOON
					.card__num 4 <span>/5</span>
				.card
					.card__title yell.ru
					.card__num 4,4 <span>/5</span>
				.card
					.card__title СПР
					.card__num 4 <span>/5</span>
				.card
					.card__title CLEOS
					.card__num 14+ <span>/2-</span>
				.card
					.card__title Лайк Доктор
					.card__num 4,9 <span>/2-</span>
