section.stocks#stocks
	.container
		.block-title <span>Заманчивые акции для вас</span> от нашей клиники
		.slider
			.slide
				.slide-inner
					img.slide__img(src=img+"stocks/img1.jpg", alt="")
					.slide__title Восстановление зубов за 1 день по системе
					.slide-price All on 4 от <span>149 900</span>
				a.slide__link(href="stocks.html") Узнать подробнее
			.slide
				.slide-inner
					img.slide__img(src=img+"stocks/img2.jpg", alt="")
					.slide__title Имплантация зубов 
					.slide-price за <span>15 900</span>
					.slide__text <span>Всего за 1 день</span> челюстно-лицевым хирургом <b> с опытом более 15 лет</b>
				a.slide__link(href="stocks.html") Узнать подробнее
			.slide
				.slide-inner
					img.slide__img(src=img+"stocks/img3.jpg", alt="")
					.slide__title Виниры за 1 приём 
					.slide-price от <span>9 500</span>
					.slide__text <b>С гарантией</b>по договору <b>15 лет</b>
				a.slide__link(href="stocks.html") Узнать подробнее
			.slide
				.slide-inner
					img.slide__img(src=img+"stocks/img1.jpg", alt="")
					.slide__title Виниры за 1 приём 
					.slide-price от <span>9 500</span>
					.slide__text <b>С гарантией</b>по договору <b>15 лет</b>
				a.slide__link(href="stocks.html") Узнать подробнее